* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background: #F4F4F4;
    width: 375px;
    height: ;
}

header {
    background-color: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
}

main {
    padding: 22px;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0px 0 9px 0;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    display: block;
    outline: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 17px;
}

button {
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    border: none;
    margin: 12px 0 15px 0;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

section {
    border: 1px solid #1B83E2;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 282px;
}

.currency-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 10px;
}

.currency-name {
    color: #777777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.currency-value {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #1B83E2;
}

.arrow-img{
  
}